.navbar{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #2F3D57;
	margin: 0;
	padding-left: 0px;
	
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-color: #333;
	font-family: sans-serif;
	font-size: 1.5em;


}
li{
	float: left;
}
li a{
	margin: 0;
	padding: 0;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	background-color:#DD7802 ;
}
h1{

font-family: 'Lato', sans-serif;
font-size: 4em;
color: #2F3D57; 
text-align: center;
margin: 100px;
padding: 10px;
padding-left: 180px;
}
h3{
	font-family: sans-serif;
	font-size: 1em;
	color: 	#3F3D56;
    margin: 150px;
    padding: 20px;
    padding-left: 150px;
}
p{
	line-height: 0.5;
	margin-top: 0px;
	font-family: helvetica;
}
.btn button{
	background-color: #2F3D57;
	border:1px solid black;
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	float:left;
	font-family: sans-serif;
	font-size: 120%;
	margin-right: 10px;
	display: block;
	text-align: center;

}
.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 560px;

}

img{
	height: 500px;
	width: 500px;
	display: flex;
	justify-content: center;
}
h2{
	font-family: sans-serif;
	font-size: 2em;
	color: #2F3D57;
	text-align: center;
}
p{
	font-family: helvetica;
	font-size: 1.5em;
	color: #2F3D57;
	text-align: center;
	line-height: 0.5;
	margin-top: 0px;
}
img{
	height: 400px;
	width: 600px;
	display: flex;
	justify-content: center;

}
img{
	height: 300px;
	width: 500px;
	display: flex;

}
h2{
	text-align: center;
}
.container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
img{
	transition: transform all 1s;
}
img:hover{
	transform: scale(1.1);
}
h4{
	text-align: left;
}










.